@media screen and (max-width: 768px) {
  .menu {
    display: none;
  }

  .menu-toggle {
    display: block;
  }

  .menu-toggle:focus + .menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 10px;

    ul {
      flex-direction: column;
    }

    li {
      margin: 10px 0;
    }

    a {
      color: #fff;
      text-decoration: none;
    }
  }



}

@media screen and (max-width: 480px) {


.my-img-container {
  width: 100%;
  top: 215px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-img {
  width: 200px;
  position: absolute;
}

.slogans{
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;

}
.slogan-1{
  font-size: 5vw;
  position: absolute;
  top: 425px;
  left: 13%;

}
.slogan-2{
  font-size: 5vw;
  position: absolute;
  top: 450px;
  left: 15.6%;
}

@keyframes animated-text{
  from{width: 0;}
  to{width: 85%;}
  }
  @keyframes animated-text2{
    from{width: 0;}
    to{width: 75%;}
    }


  .buttons-container{
  display: flex;
  top: 440px;
  position: absolute;
  justify-content:space-between;
  align-items: center;
  width: 65%;
  height: auto;
  left: 10%;

  
}

.fade{
line-height: 240%;
font-size: 3.5vw;
position: relative;

}

.SobreMim-title-container{
  display: flex;
  position: absolute;
  top: 118px;
}
.SobreMim-title{
font-size: 6vw;
position: absolute;


}


.SobreMim-description-text{
  font-size: 4vw;
  width: 80%;
  position: absolute;
  top: 12px;
}

.background-animated-habilidades{
  width: 100%;
  position: absolute;
  top: 1380px;
  height: 710px;
}
.Habilidades-title-container{
  display: flex;
  position: absolute;
  top: 1380px;
}
.Habilidades-title{
font-size: 6vw;
position: absolute;

}
.Habilidades-title-container{
  top: 1480px;
}

.card{
  width: 37%;
}

.cards-container{
  top: 60px;
}
























@media screen and (max-width: 400px) {

.background-animated{
  height: 568px;
}

.my-img-container {
  width: 100%;
  top: 205px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-img {
  width: 180px;
  position: absolute;
}

.slogan-1{
  font-size: 5vw;
  position: absolute;
  top: 402px;
  left: 13%;
}
.slogan-2{
  font-size: 5vw;
  position: absolute;
  top: 425px;
  left: 15.7%;

}

.buttons-container{
  top: 410px;
  width: 72%;
  left: 6.2%;
  display: flex;

}

.SobreMim-title-container{
  top: 50px;
}

.SobreMim-description-container{
  top: 70px;

}
.background-animated-habilidades{
top: 1160px;
height: 585px;
}
.Habilidades-title-container{
  top: 1230px;
}

}
























@media screen and (max-width: 320px) {

    .Habilidades-title-container{
      top: 1130px;
    }
    .background-animated-habilidades{
      height: 470px;
      top: 1060px;
    }
    .Habilidades-title-container{
      top: 1110px;
    }
}
}